<h1>À propos</h1>

<p class="container" style="font-size:150%"><br>
Avez vous déjà remarqué à quel point les gens passionnés sont intéressants ?<br>
    <br>
Tiich est un projet de plateforme web permettant de mettre en relation des personnes ayant une passion à partager et des personnes voulant découvrir, apprendre, sortir.<br>
    <br>
L'objectif est d'apprendre autrement, de rencontrer des personnes passionnées, de partager ses passions et de passer un bon moment !      <br>
</p>
    <p class="text-center container"><img src="pictures/logo.png" style="width: 55%"></p>
