<div class="container">
    <div class="jumbotron">
        <p class="text-center"><img src="pictures/logo.png"></p>

        <form ng-controller="SearchCtrl" ng-submit="search()" id="search">
            <input ng-model="words" placeholder="Que voulez-vous apprendre demain ?" disabled>
            <button class="btn btn-lg" type="submit" disabled><i class="fa fa-search"></i></button>
        </form>

        <p><br></p>

        <h1>Bientôt disponible...</h1>

        <form action="https://docs.google.com/forms/d/1i547j2nmZyeZZZcHGB0km8eYK8YyTH-fhTqROOMZxkA/viewform" method="get" id="subscribe" class="text-center">
            <input class="btn btn-lg" type="submit" value="Tenez-moi informé !" style="width:auto"/>

        </form>
    </div>
</div>