<div class="container">
    <div class="jumbotron">
        <p class="text-center"><img src="pictures/logo.png"></p>

        <form ng-controller="SearchCtrl" ng-submit="search()" id="search">
            <input ng-model="words" placeholder="Que voulez-vous apprendre demain ?">
            <button class="btn btn-lg" type="submit"><i class="fa fa-search"></i></button>
        </form>

        <p><br></p>

        <p class="text-center">
            <a class="btn btn-lg" href="#/search/" role="button">Ateliers à proximité</a>
        </p>
    </div>
</div>