<section>
    <div ng-controller="UserCtrl">
        <div class="container profile">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="pictures/user.jpg" alt="User picture" style="width: 100%" /><br />
                                <div class="star-rating" star-rating rating-value="user.rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                        </div>
                        <div class="col-md-8">
                            <h1>{{user.name}}</h1>
                            {{user.age}} ans
                            <div class="bio">
                                {{user.bio}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>Ateliers à venir</h1>
                    <a href="#/workshop/{{ workshops[0].id }}"><strong>{{ workshops[0].name }}</strong></a>
                    à {{ workshops[0].place }} <br />le {{ workshops[0].date }}
                </div>
            </div>
            <div class="row activite-recentes">
                <h1>Activités passées</h1>
                <ul ng-repeat="workshop in workshops | filter:{user:user.id}" style="list-style-type: none">
                    <li>
                        <p class="pull-left">
                            <a href="#/workshop/{{ workshop.id }}"><strong>{{ workshop.name }}</strong></a><br />
                            {{ workshop.date }}<br />
                            {{ workshop.place }}
                        </p>
                        <img class="pull-right" src="pictures/user.jpg">
                        <div style="clear:both"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>