<section>
    <div class="container" ng-controller="WorkshopCtrl">
        <div class="row title">
            <div class="col-md-12">
                {{ workshop.name }}
            </div>
        </div>
        <div class="row workshop">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <ul>
                            <li><b>Lieu :</b> {{ workshop.place }}</li>
                            <li><b>Date :</b> {{ workshop.date }}</li>
                            <li><b>Heure :</b> {{ workshop.hour }}</li>
                            <li><b>Durée :</b> {{ workshop.duration }}</li>
                        </ul>
                    </div>
                    <img src="pictures/map.png" alt="Place to go" class="col-md-4"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>Détails</h1>
                        <p>
                            {{ workshop.details }}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h1>Check-List</h1>
                        <ul ng-repeat="check in checklist">
                            <li>{{ check }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row participation">
                    <input type="button" value="Participer !" class="btn btn-lg"/>
                </div>
                <div class="row profile-comments">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="pictures/user.jpg" alt="User" />
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li>{{ users[workshop.user].name }}</li>
                                <li>23 ans</li>
                                <li>* * * *</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid comments">
                            <div class="comment">
                                "Intéressant et pédagogue, Michael m'a beaucoup apris ! Merci :)"
                                <div class="author">Marie F.</div>
                            </div>
                            <div class="comment">
                                "Merci pour votre atelier Tenis débutant, c'était super !"
                                <div class="author">Thomas G.</div>
                            </div>
                            <div class="comment">
                                "Michael est très intéressant et sympathique."
                                <div class="author">Sania H.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>