<section>
    <div class="container" ng-controller="WorkshopCtrl">
        <div class="row workshop">
                <div class="row">
                    <div class="col-md-4">
                        <p style="line-height: 1.6em">
                            <h1>{{ workshop.name }}</h1>
                            <b><i class="fa fa-calendar"></i></b> {{ workshop.date }}, à {{ workshop.hour }}<br>
                            <b><i class="fa fa-flag"></i></b> {{ workshop.place }}<br>
                            <b><i class="fa fa-clock-o"></i></b> {{ workshop.duration }}<br>
                        </p>
                    </div>
                    <img src="pictures/map.png" alt="Place to go" class="col-md-4"/>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="pictures/user.jpg" alt="User" />
                            </div>
                            <div class="col-md-10" style="font-size:24px;">
                                <ul>
                                    <li>{{ users[workshop.user].name }}</li>
                                    <li>{{ users[workshop.user].age }} ans</li>
                                    <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                                </ul>
                            </div>
                        </div>
                        <input ng-hide="workshop.participating" type="button" value="Participer !" class="btn btn-lg" ng-click="workshop.participating=!workshop.participating">
                        <p ng-show="workshop.participating" style="line-height: 1em"><span class="text-success" style="font-size: 20px">Vous participez à cet atelier !</span><br />
                        <span style="font-size:small">le <strong>{{ workshop.date }}</strong> <br>à <strong>{{ workshop.hour }}</strong></span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 details">
                        <h2>Détails</h2>
                        <p ng-bind-html="workshop.details">
                        </p>
                    </div>
                    <div class="col-md-4 checklist">
                        <h2>Check-List</h2>
                        <ul class="checkbox" ng-repeat="check in workshop.checklist">
                            <li>{{ check }}</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2>Avis</h2>
                        <div class="row profile-comments">

                                <div class="container-fluid comments" ng-show="workshop.participating && !comment_published">
                                    <form ng-submit="publish_comment(new_comment)">
                                        <div class="author pull-left">{{ users[new_comment.user].name }}</div>
                                        <div class="star-rating pull-right" star-rating rating-value="new_comment.rating" data-max="5"></div>
                                        <div style="clear: both;"></div>
                                        <textarea ng-model="new_comment.message" placeholder="Donnez votre avis sur l'atelier"></textarea>
                                        <button type="submit"><i class="fa fa-check"></i></button>
                                    </form>
                                </div>


                                <div class="container-fluid comments" ng-repeat="comment in workshop.comments">

                                    <div class="comment">
                                        <div class="author pull-left">{{ users[comment.user].name }}</div>
                                        <div class="star-rating pull-right" star-rating rating-value="comment.rating" data-max="5" on-rating-selected="rateFunction(rating)"></div>
                                        <div style="clear: both;"></div>
                                        <p>{{ comment.message }} <br>
                                            <button ng-if="comment.user == 0" ng-click="edit_comment(comment)" class="btn btn-link"><i class="fa fa-pencil-square-o"></i> Modifier</button></p>
                                    </div>

                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>