<section>
    <div class="container">
        <div class="row title">
            <div class="col-md-12">
                Entrainement de tenis débutant
            </div>
        </div>
        <div class="row workshop">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <ul>
                            <li><b>Lieu :</b> Tennis Club Illkirch-Graffenstaden</li>
                            <li><b>Date :</b> Jeudi 30 octobre</li>
                            <li><b>Heure :</b> 15h00</li>
                            <li><b>Durée :</b> 2h00</li>
                        </ul>
                    </div>
                    <img src="pictures/map.png" alt="Place to go" class="col-md-4"/>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h1>Détails</h1>
                    </div>
                    <div class="col-md-6">
                        <h1>Check-List</h1>
                        <ul>
                            <li>Une raquette de tenis</li>
                            <li>Une tenue de sport</li>
                            <li>Des chaussures de sport</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row participation">
                    <s>4€</s>
                    <input type="button" value="Participer !" class="btn btn-lg"/>
                </div>
                <div class="row profile-comments">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="pictures/user.jpg" alt="User" />
                        </div>
                        <div class="col-md-8">
                            <ul>
                                <li>Michel M</li>
                                <li>23 ans</li>
                                <li>* * * *</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container-fluid comments">
                            <div class="comment">
                                "Intéressant et pédagogue, Michael m'a beaucoup apris ! Merci :)"
                                <div class="author">Marie F.</div>
                            </div>
                            <div class="comment">
                                "Merci pour votre atelier Tenis débutant, c'était super !"
                                <div class="author">Thomas G.</div>
                            </div>
                            <div class="comment">
                                "Michael est très intéressant et sympathique."
                                <div class="author">Sania H.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>