body {
    background-color: #f8f4db;
}

a, .btn-link, input {
      color: #6d8d80;
  }

.button {
    background-color: #91B5A8;
    color: #3156AD;
    display: block;
}

h2 {
    color: #AD005A;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

nav {
    background-color : #F8F4DB;
    color: white;
    padding: 1em;
    margin-bottom: 20px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
    /*vertical-align: middle;*/
    height: 50px;
    line-height: 50px;
}

nav a {
    /*color: #FF8D00;*/
    color: #3156AD;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.logo-slim {
    float: left;
    height: 50px;
    margin-right: 20px;
}

form#search input {
    width: 90%;
    height: 55px;
    font-size: 24px;
    vertical-align: top;
    padding: 10px;
}

form#search input[type=submit] {
    width: 9%;
}

h1 {
    color: #AD005A;
    margin-bottom: 20px;
    font-weight: bold;
}

.row {
    padding-bottom: 10px;
}

section {
    /*color: #112831;*/
}

section .title {
    text-align: center;
    font-size: 3em;
    padding: 0.75em;
    color: #112838;
}

section .workshop {
    font-size: 1.5em;
}

section .workshop ul {
    list-style-type: none;
}

section .workshop .column1 {
    border-right: 2px solid #AD005A;
}

section .participation {
    text-align: center;
}

section .participation s {
    display: block;
    font-size: 1.5em;
}

section .profile-comments {
    min-height: 6em;
}

section .comments {
    margin: 2px;
    font-size: .8em;
}

section .author {
    text-align: right;
}

section .profile {
    font-size: 2em;
}

section .profile h1 {
    font-size: 1.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section .profile .bio {
    font-style: italic;
    line-height: 1;
}

section .profile .stars {
    font-size: 2em;
}

section .activite-recentes {
}

section .activite-recentes h1 {
    font-size: 1em;
    text-align: center;
}

section .workshop .checkbox li:before {
    content: "– "
}

section .participation {
    padding: 15px;
    height: 150px;
}

section .details {
    text-align: justify;
}

.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}

ul {
    list-style-type: none;
}

.text-succes {
    color: #91B5A8;
}

.jumbotron {
    background: transparent;
    padding: 0;
}

.jumbotron img {
    width: 70%;
}