nav {
    background-color : black;
    color: white;
    padding: 1em;
    margin-bottom: 20px;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

form#search input {
    width: 90%;
    height: 55px;
    font-size: 24px;
}

form#search input[type=submit] {
    width: 9%;
}

h1 {
    margin-bottom: 20px;
}

.row {
    padding-bottom: 10px;
}

section .title {
    border: solid 1px black;
    text-align: center;
    font-size: 3em;
    padding: 1em;
}

section .workshop {
    border: solid 1px black;
    font-size: 1.5em;
}

section .workshop ul {
    list-style-type: none;
}

section .workshop h1 {
    font-size: 1.2em;
    text-align: center;
}

section .participation {
    text-align: center;
}

section .participation s {
    display: block;
    font-size: 1.5em;
}

section .profile-comments {
    border: solid 1px black;
    min-height: 6em;
}

section .comments {
    margin: 2px;
    font-size: .8em;
}

section .author {
    text-align: right;
}

section .profile {
    font-size: 2em;
}

section .profile h1 {
    font-size: 1.5em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

section .profile .bio {
    font-style: italic;
    line-height: 1;
}

section .profile .stars {
    font-size: 2em;
}

section .activite-recentes {
    border-top: 1px black solid;
}

section .activite-recentes h1 {
    font-size: 1em;
    text-align: center;
}
